@import "../variables.scss";

.section__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:100px;
    margin-top:50px;
    margin-bottom:100px;

    @media (max-width: $plo-tablet) {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    @media (max-width: $plo-mobile) {
        margin-top:25px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 70px;

        max-width:524px;

        @media (max-width: $plo-tablet) {
            max-width: 100%;
            gap:40px;
        }

        p  {
            font-size: 32px;
            line-height:54px;
            color:$plo-white;

            @media (max-width: $plo-mobile) {
                font-size:20px;
                line-height: 36px;
            }
        }

        &--action > a{
            display: flex;
            gap:20px;
            align-items: center;
            color:$plo-purple;
            text-decoration: none;
        }
    }

    &__right {
        flex-grow:2;
        display: flex;
        justify-content: flex-end;

        @media (max-width: $plo-tablet) {
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media (max-width: $plo-tablet) {
                width: 100%;
            }    

            label {
                display: flex;
                flex-direction: column;    
                gap:5px;

                font-size:24px;
                font-weight:bold;
                line-height: 54px;

                @media (max-width: $plo-mobile) {
                    font-size:20px;
                    line-height: 36px;
                }

                input, textarea { 
                    background: $plo-container-bg;
                    border:unset;
                    resize:none;
                    min-width:461px;
                    border-radius:12px;
                    outline-color: $plo-purple;
                    color: $plo-white;
                    padding-left: 15px;
                    box-sizing: border-box;
                    font-size:20px;       

                    @media (max-width: $plo-tablet) {
                        min-width: unset;
                    }            
                }

                input {
                    height:48px;
                    transition: $plo-text-transition;

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0 2px $plo-purple;
                    }
                }

                textarea {
                    min-height: 142px;
                    transition: $plo-text-transition;
                    padding-top:15px;
                    padding-bottom:15px;

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0 2px $plo-purple;
                    }
                }
            }

            button {
                border:unset;
                width: min-content;
            }

        }
    }
}