@import "../variables.scss";

.hero__container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
    margin:50px 0px 0px 0px;
    padding:0px 45px;

    @media (max-width: $plo-mobile) {
        padding-bottom: unset !important;
    }

    background-color: $plo-container-bg;
    border-radius:18px;

    @media (min-width: $plo-tablet) {
        min-height: 500px;
    }

    @media (max-width: 1318px ) {
        flex-direction: column;
        padding: 50px 55px 0px;
        gap:50px;
        align-items:center;
    }

    @media (max-width: $plo-mobile) {
        padding:30px;
        gap:70px;
    }


    &__left,
    &__right {
        @media (max-width: 1318px) {
            max-width: 100% !important;
            flex-grow: unset;


        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow:2;
        gap:30px;
        max-width:635px;

        padding:25px 0px;

        @media (max-width: $plo-tablet) {
            padding:0px;
            margin: 0px;
            max-width:unset;

            .btn {
                width: calc(50% - 50px);
            }
        }


        @media (max-width: $plo-mobile) {
            .btn {
                width: 100%;
            }
        }

        &--header {
            margin: unset;
            margin-top:-30px;

            font-weight: bold;
            font-size:64px;

            @media (max-width: 1336px) and (min-width: $plo-tablet) {
                font-size:calc(64px - 1vw);
            }


            @media (max-width: $plo-tablet) {
                font-size:48px;
            }


            @media (max-width: $plo-mobile) {
                font-size:36px;
            }
        }

        &--subheader {
            color:$plo-light-gray;
            font-weight: bold;
            font-size:32px;

            @media (max-width: 1336px) and (min-width: $plo-tablet) {
                font-size:calc(32px - 0.7vw);
            }

            @media (max-width: $plo-tablet) {
                font-size:36px;
            }
        }

        &--description {
            color:$plo-white;
            font-weight: 500;
            font-size:20px;
            line-height: 30px;

            @media (max-width: 1336px) and (min-width: $plo-tablet) {
                font-size:calc(28px - 0.35vw);
                margin-top:-15px
            }

            @media (max-width: $plo-tablet) {
                font-size:20px;
                line-height: 30px;
            }

            @media (max-width: $plo-tablet) {
                font-size:20px;
                line-height: 30px;
            }
        }

        &__actions {
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            gap:20px;

            @media (max-width: $plo-tablet) {
                margin-top:15px;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;
        
        max-width:565px;

        @media (max-width: 1318px) {
            max-width:565px !important;
        }

        @media (max-width: 1336px) and (min-width: $plo-tablet) {
            max-width:calc(565px - 3vw);
        }

        @media (max-width: $plo-tablet) {
            align-self: center;

            img {
                max-width: 100%;
            }
        }

        .gatsby-image-wrapper {
            margin-top:-50px;
        }
    }
}