@import "../variables.scss";


.header--sticky{
    height:45px;
    
    .header--wrapper {
        height:45px;
        padding:0px 15px;
        
        .btn {
            font-size:16px;
            height:35px;
            padding:0px 10px;
        }
    }
}

header{
    width:100%;
    background:#1B1B1B;
    position:sticky !important;
    top:0px;
    z-index:9999;
    height:82px;

    transition:  height 0.2s cubic-bezier(0.42, 0, 0.58, 1);

    // Desktop
    .header--wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        max-width:1300px;


        transition:  height 0.2s cubic-bezier(0.42, 0, 0.58, 1);

        margin:0 auto;
        padding:0px 45px;
    
        @media (max-width: $plo-mobile) {
            padding:0px 15px;
        }

        height:82px;
        margin:0 auto;
        
        .header--cta {
            @media (max-width: $plo-tablet) {
                font-size:16px;
            }
        }

        .header__menu {
            flex-grow:2;
    
            @media (max-width: $plo-mobile) {
                margin:0px 15px;
            }

            @media (max-width: $plo-mobile) {
                display: none;
            }

            > ul {
                display: flex;
                flex-direction: row;
                gap:75px;
                width: 100%;
                list-style: none;

                @media (max-width: $plo-tablet) {
                    gap: 36px;
                }
        
                > li { 
                    a {
                        transition: $plo-text-transition;
                        &:hover {
                            color:$plo-purple;
                        }

                        font-weight: 500;
                        font-style: normal;
                        font-size:20px;

                        @media (max-width: $plo-tablet) {
                            font-size:16px;
                        }

                        text-decoration: none;
                        color:$plo-white;
                    }

                    a.active {
                        color:$plo-purple;
                    }
                }
            }
        }
    }
}



// Tablet
@media (min-width: $plo-mobile) {
    header{
        .header__hamburger{
            display: none;
        }
    }
}

// Mobile
@media (max-width: $plo-mobile) {
    header {
        flex-direction: column !important;
        position: relative;

        .header--cta{ display: none;}
        .header__hamburger{ 
            display: flex;

            svg {
                width: 24px;
                height: 24px;

                &:hover {
                    path {
                        fill: $plo-purple;
                    }
                }

                path {
                    transition: $plo-text-transition;
                }
            }
        }

        .header__hamburger--active{
            flex-direction: column !important;
            
            path {
                fill: $plo-purple;
            }

            .header__menu {
                position:absolute;
                top:40px;
                width: 100%;

                background: $plo-container-bg;

                ul {
                    flex-direction: column;

                    li {margin: unset !important;}
                }
            }
        }

        .header--wrapper {
            .header__menu {
                opacity:0;
                transition: $plo-text-transition;
            }

            .header__menu--active {
                opacity: 1;
                display: flex;
            }
        }
    }
}
