@import "variables.scss";

html {
    background: $plo-black;
    color: $plo-white;
    font-family: "Goldman", sans-serif;
}

main {
    display:flex !important;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    max-width: 1440px;

    margin:0 auto;
    padding:0px 45px;

    @media (max-width: $plo-tablet) {
        padding:0px 30px;
    }

    @media (max-width: $plo-mobile) {
        padding:0px 15px;
    }

    .main__wrapper {
        width: 100%;
    }
}

.active {display: flex;}

// Buttons
.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center; 

    height: 48px;
    border-radius: 8px;
    font-weight:500;
    padding:0px 16px;

    font-size:20px;
    text-decoration: none;

    transition: $plo-text-transition;
    background-color: $plo-gray;
    color:$plo-white;
    cursor: pointer;

    @media (max-width: $plo-mobile) {
        width: 100%;   
    }

    &:hover {
        background-color: $plo-white;
        color: $plo-purple;
    }

    &--white {
        background: $plo-white;
        color: $plo-purple;

        &:hover {
            background: $plo-purple;
            color: $plo-white;
        }
    }

    &--purple {
        background-color: $plo-purple;
        color: $plo-white;

        &:hover {
            background-color: $plo-white;
            color: $plo-purple;
        }
    }
}