$plo-purple: #5A4FF5;
$plo-white: #ffffff;
$plo-gray: #545454;
$plo-light-gray: #868686;
$plo-black: #000000;

$plo-container-bg: #1B1B1B;
$plo-portfolio-text-color: #BFBFBF;
$plo-container-dark-bg: #0D0D0D;

$plo-tablet: '1100px';
$plo-mobile: '768px';

$plo-tablet-padding-w: '50px';
$plo-mobile-padding-w: '25px';


$plo-text-transition:   
color 0.3s cubic-bezier(0.42, 0, 0.58, 1),
 font-size 0.3s cubic-bezier(0.42, 0, 0.58, 1),
  background 0.4s cubic-bezier(0.42, 0, 0.58, 1),
  box-shadow 0.2s cubic-bezier(0.42, 0, 0.58, 1)
  ;


$fade-duration: 900ms !default;
$fade-ease: cubic-bezier(0.22, 1, 0.36, 1) !default; // easeOutExpo-ish
$fade-distance: 16px !default;

.fade {
  transition: $fade-duration $fade-ease all;

  &-in {
    opacity: 1;

    &-wait {
      opacity:0
    }
  }
}
