@import "../variables.scss";

.section__portfolio {
    display: flex;
    gap:20px;
    position:relative;

    &__scroll {
        width: 8px;
        background:$plo-gray;
        color:#616161;

        z-index: 0;
        height: 100%;
        margin-top:3px;
        position: relative; 
        

        &--dot {
            width:14px;
            height: 14px;
            background-color: $plo-white;
            position: absolute;
            z-index: 9999;
            border-radius:14px;
            left:-6px;
        }

        &--highlight {
            background-color: $plo-purple;
            position:relative;
            height: auto;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;


        &__project {
            display: flex;
            flex-direction: row !important;
            gap:35px;
            align-items: flex-start;
            position: sticky;

            &__name {
                font-size:40px;
                color:$plo-portfolio-text-color;
                font-weight:bold;
                position: sticky;
                top: 20px;

                display: flex;
                flex-direction: column;
                gap:15px;

                max-width: 400px;
                min-width: 400px;

                p {
                    font-size:24px;
                    color:$plo-portfolio-text-color;
                }
                
                .btn {
                    margin-top:10px;
                }
            }

            &__description {
                display: flex;
                flex-direction: column;
                gap:28px;
                padding-bottom:100px;
                padding-left:20px;
                font-size:20px;
                color:$plo-white;
            }
        }
    }
}