@import "../variables.scss";

.section__wrapper {
    margin-top: 90px;
    
    @media (max-width: $plo-mobile) {
        margin-top: 45px;
    }

    > h2 ~ div {
        display: flex;
        flex-direction: column;
        gap:40px;
    }

    > span ~ * {
        padding:0px 107px;

        @media (max-width: $plo-tablet) {
            padding:0px 53px;
        }   

        @media (max-width: $plo-mobile) {
            padding:0px 30px;
        }
    }

    > span {
        font-weight: bold;
        font-size:120px;
        color: $plo-container-bg;
        text-transform: uppercase;

        @media (max-width: $plo-tablet) {
            font-size:100px;
        }

        @media (max-width: $plo-mobile) {
            font-size:42px;
            padding:0px 30px;
        }
    }

    > h2 {
        font-weight:bold;
        font-size:54px;
        margin-top:-35px;

        @media (max-width: $plo-tablet) {
            font-size:48px;
        }

        @media (max-width: $plo-mobile) {
            font-size:32px;
            margin-top:0px;
        }

        span {
            color: $plo-purple;
        }
    }

    p {
        font-size:20px;
        color: $plo-white;
        line-height: 28px;
        margin: 0px;

        @media (max-width: $plo-tablet) {
            font-size:16px;
        }
    }
}