@import "../variables.scss";

footer {
  max-width: 1440px !important;

  .footer__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    box-sizing: border-box;
    gap:65px;

    background:$plo-container-bg;
    border-radius:18px;

    margin-bottom:20px;
    
    padding: 90px 107px;
  
    @media (max-width: $plo-tablet) {
        padding:50px 45px;
    }   
  
    @media (max-width: $plo-mobile) {
        padding:30px;
    }
  
    h3 {
      width: 100%;
      font-size:36px;
      font-weight:bold;
      margin:unset;


    }
  
    .footer__copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items:center;
      width:100%;
      font-size:20px;

      @media (max-width: $plo-tablet) {
        font-size:14px;
      }

      &--socials {
        display: flex;
        flex-direction: row;
        gap:10px;

        svg {
            border-radius:6px;

            &:hover {
                path {
                    fill: $plo-purple;
                }
            }
        }
      }
    }
  }


}
