@import "../variables.scss";

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: morphWave 12s infinite ease-in-out;
    will-change: transform, filter;
    z-index: -2; 
  }
  
  .background-layer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: -1; 
  }
  

  @keyframes morphWave {
    0% {
      transform: scale(1) skewX(0deg) translateX(0);
      filter: blur(2px) brightness(100%);
    }
    25% {
      transform: scale(1.05) skewX(0.5remdeg) translateX(5px);
      filter: blur(3px) brightness(105%);
    }
    50% {
      transform: scale(1) skewX(0deg) translateX(0);
      filter: blur(2px) brightness(100%);
    }
    75% {
      transform: scale(1.15) skewX(-7deg) translateX(-5px);
      filter: blur(3px) brightness(115%);
    }
    100% {
      transform: scale(1) skewX(0deg) translateX(0);
      filter: blur(2px) brightness(100%);
    }
  }
  
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    color: #f3f4f6;
    padding: 1.5rem; 
    overflow: hidden;

    @media (max-width:1400px) {
      height:100%;
      padding:0px;
    }
  }

  .dashboard-header {
    margin-bottom: 1.5rem;
  }
  
  .dashboard-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff; 
  }
  
  .dashboard-subtitle {
    color: #9ca3af;
  }
  
  .panels-container {
    display: flex;
    flex: 1;
    column-gap: 0.75rem; 
    padding-bottom: 1rem; 
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    overflow: hidden;


    @media (max-width:1400px) {
      flex-wrap:wrap;
      gap:20px;
    }
  }
  
  .panel {
    position: relative;
    height: 100%;
    border-radius: 0.75rem;
    backdrop-filter: blur(4px);
    overflow: hidden;
    border:1px solid #525252;

    @media (max-width:1400px) {
      width:calc(50% - 12px) !important;

      .gatsby-image-wrapper {
        min-height: 290px !important;
      }
    }

    @media (max-width:900px) {
      width: 100% !important;
    }
  }
  
  .panel-collapsed {
    background: #171717;
  
    backdrop-filter: blur(15px) saturate(180%);
  
    transform-origin: center left;
  
    overflow: hidden;


    @media (max-width:1400px) {
      height:500px;
    }
  }
  
  .panel-expanded {
    background-color: #171717;
    min-width: 4rem;

    @media (max-width:1400px) {
      height:500px;
    }
  }
  
  .panel-background {
    position: absolute;
    inset: 0;
    z-index: -10;
    border-radius: 0.75rem;
    overflow: hidden;
  }
  
  .panel-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; 
    transition: transform 1s ease-out, opacity 1s ease-out; 
  }
  
  .panel-expanded .panel-bg-image {
    transform: scale(1.2);
    opacity: 0.4;
    transition: transform 1s ease-out, opacity 1s ease-out; 
  }
  
  .panel-collapsed .panel-bg-image {
    transform: scale(1);
    opacity: 0.2;
    transition: transform 1s ease-out, opacity 1s ease-out; 
  }
  
  .panel-overlay {
    position: absolute;
    inset: 0;
    background: #171717;
    z-index: -5;
  }
  
  .panel-shine {
    position: absolute;
    inset-inline: 0;
    top: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(156, 163, 175, 0.5), transparent);
    transition: opacity 0.5s;
  }
  
  .shine-visible {
    opacity: 1;
  }
  
  .shine-hidden {
    opacity: 0;
  }
  

  .panel-title-container {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10;
    pointer-events: none;
    height: 24px; 
    justify-content: space-between;
  }
  
  .title-collapsed {
    top: 15rem;
    left: 2.95rem;
    width: 27rem; 
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0.8;
  }
  
  .title-expanded {
    top: 15rem;
    left: 2.9rem;
    width: 27rem; 
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(90deg);

    .panel-icon-wrapper {
      opacity:0;
    }
  }


  @media (max-width:1400px) {
    .panel-icon-wrapper {
      opacity: 0 !important;
    }
  }
  
  .panel-title-container span {
    font-size: 23px;
    color: #e5e7eb;
    white-space: nowrap;
  }
  
  .panel-expanded-content {
    position: absolute;
    inset: 0;
    width: 32rem;
    pointer-events: none;

    @media (max-width:1400px) {
      display: flex !important;
      opacity:1 !important;
      width: auto !important;
      padding-right:25px;
    }
  }

  .panel-expanded-content.visible {
    pointer-events: auto;
  }
  
  .panel-inner {
    padding-left: 4rem; 
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .panel-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
  }

  .panel-cta,
  .panel-cta .panel-overlay{
    background:$plo-purple;
    cursor:pointer;

    @media (max-width:1400px) {
      display: none;
    }
  }
  
  .panel-icon-wrapper {
    padding: 0.5rem;
    border-radius: 0.5rem;
    transform:rotate(270deg);
    transition: opacity 0.1s ease-in-out;
  }
  
  .panel-title {
    font-size: 1.125rem; 
    font-weight: 500; 
    color: #ffffff;
  }
  
  .panel-description {
    color: #797979 !important;
    margin-bottom: 1.25rem;
    font-size: 19px;
    line-height: 1.625; 
    display: flex;
    flex-direction: column;
    gap:20px;

    p {
      margin-left:-25px;

      @media (max-width: 1420px) {
        font-size:16px;
      }
    }

    img {
      object-fit: contain !important;
      max-width:325px;
      height:min-content;
      max-height:290px;
    }
  }
  
  .panel-action-wrapper {
    margin-top: auto; 
  }
  
  .panel-action-button {
    display: flex;
    align-items: center;
    column-gap: 0.5rem; 
    background-color: #374151;
    padding-left: 1rem; 
    padding-right: 1rem;
    padding-top: 0.5rem; 
    padding-bottom: 1rem; 
    border-radius: 0.5rem; 
    font-size: 0.875rem;
    transition: background-color 0.3s; 
    border: none;
    color: inherit;
    cursor: pointer;
  }
  
  .panel-action-button:hover {
    background-color: #4b5563; 
  }
  
  .button-icon {
    width: 1rem; 
    height: 1rem;
    display: inline-flex;
  }
  
  @media (max-width: 768px) {
    .panels-container {
      padding-bottom: 0.5rem;
    }
  }
  